@font-face {
  font-family: Fonty;
  src: url(Jua-Regular.ttf);
}
*{
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

html{
  font-size: 18px;
  font-family: Fonty;
  background-color: #eeeeee;
}
a {
  text-decoration: none;
}